html, body{
  margin: 0px;
}
a, a:visited{
  color:inherit !important;
  text-decoration: none;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.5 em;
  padding: 10px 12 px;
}
.be-red{
  background-color: rgb(200, 50, 50);
}
.white{
  color:white;
}
.large-padding{
  padding: 8px 5px;
}
.field{
  margin-top: 1.0em;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
